.Lobby {
    display: flex;
    flex-direction: column;
    align-items: center;

    * {
        color: white;
    }

    .options-players {
        display: flex;
        margin-top: 40px;
        
        * {
            margin-top: 5px;
            font-size: 1.1em;
            border-radius: 3px;
        }

        select, textarea {
            padding: 2px;
            background-color: #7789cb;
        }
    }

    .LobbyOptions {
        display: flex;
        flex-direction: column;
        width: 400px;
        margin-right: 50px; 

        textarea {
            resize: none;
            height: 200px;
        }
    }

    .player-list {
        display: flex;
        flex-direction: column;
        width: 400px;
        height: 92%;
        background-color: #7789cb   ;

        * {
            margin: 3px 5px;
        }
    }

    strong {
        margin-top: 60px;
        padding-inline: 10px;
        padding-block: 5px;
        border-radius: 3px;
        background-color: #7789cb;
    }

    button {
        width: 500px;
        height: 30px;
        margin-top: 30px;
        font-size: 1.1em;
        border-radius: 3px;
        background-color: #7789cb;
        transition-duration: 70ms;

        &:hover {
            background-color: #92a5eb;
            transform: scale(1.08);
        }
    }
}