.DrawingOptions {
    display: flex;

    & > * {
        margin: 2px;
    }

    [type=radio] { 
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }

    [type=radio] + img {
        cursor: pointer;
    }
      
    [type=radio]:checked + img {
        outline: 2px solid #f00;
    }

    .current-color {
        width: 60px;
        height: 60px;
        border-radius: 5%;
        background-color: black;
    }

    .colors {
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: 30px 30px;

        * {
            width: 30px;
            height: 30px;
            border: none;
        }
    }

    .drawing-modes {
        * {
            width: 60px;
            height: 60px;
            margin-right: 2px;
        }

        :last-child {
            margin-right: 0;
        }
    }

    .brush-size {
        * {
            width: 60px;
            height: 60px;
            margin-right: 2px;
        }

        :last-child {
            margin-right: 0;
        }
    }

    .clear-canvas {
        * {
            width: 60px;
            height: 60px;
            border: none;
            background: url(eraser.webp);
            background-color: white;
            background-size: 60px 60px;
        }
    }
}