.Game {
    display: flex;
    flex-direction: column;
    align-items: center;

    .info {
        display: flex;
        width: 800px;
        margin-bottom: 3px;
        justify-content: space-between;

        * {
            font-size: 1.1em;
        }

        .word {
            letter-spacing: 2px;
        }
    }

    .players-game-chat {
        display: flex;

        * {
            font-size: 1.1em;
        }
    }

    .player-list {
        width: 100px;
    }

    canvas {
        background-color: white;
        border: 4px solid gray;
        border-radius: 5px;
        border-radius: 5px 0 0 5px;
    }

    .overlay {
        display: flex;
        position: absolute;
        width: 800px;
        height: 600px;
        margin: 4px;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, .6);
        opacity: 0;
        transition-duration: 1000ms;
        text-align: center;
        font-size: 2em;
        pointer-events: none;
    }

    .active {
        opacity: 1;
        pointer-events: all;
    }
}